
<div class="navbarcontent">
  
  <nav style="padding-left: 80px;" class="navbar navbar-expand-lg ">
      <div class="container-fluid ">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <img style="width: 60px;" src="https://cdn-icons-png.flaticon.com/256/7297/7297182.png" alt="no img">
        <h3 style="font-weight: bold;">E&D</h3> &nbsp; &nbsp;
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul style="padding-left: 50px; font-size: 30px;" class="navbar-nav me-auto mb-5 mb-lg-0">
            <li style="padding: 20px; font-weight: bold;" class="nav-item">
              <a class="nav-link active " aria-current="page" href="#">Home</a>
            </li>
            <li style="padding: 20px; font-weight: bold;" class="nav-item">
              <a class="nav-link active" href="#menu">Menu</a>
            </li>
            <li style="padding: 20px; font-weight: bold;" class="nav-item">
              
              <a  class="nav-link active" href="#about">About</a>
              
            </li>
            <li style="padding: 20px; ;font-weight: bold;" class="nav-item">
              <a class="nav-link active" href="#contactcontent">contact</a>
            </li>
          </ul>
          <form style="padding-right: 250px;" class="d-flex" role="search">
            <div  class="btn shadow  mb-5 bg-body-tertiary rounded">Login</div> &nbsp;
            <div class="btn shadow  mb-5 bg-body-tertiary rounded">Register</div> &nbsp;
            <i style="font-size: 25px; " class="fa-solid fa-cart-shopping"></i>
          </form>
        </div>
      </div>
    </nav>
</div>
