<div id="aboutcontent">

    <div id="about" class="row m-5">
        <div class="col-lg-6 col-md-6 col-sm-12 p-5">
            <img  style="height: 500px; width: 80%;" src="https://cdn-icons-png.flaticon.com/256/8239/8239437.png" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 p-5">
            <h1 style="font-weight: bold; font-size: 60px;">About us</h1>
            <p style="line-height: 32px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quas doloribus
                aut? Facere debitis quibusdam, hic ipsa, odio, libero enim officia amet reprehenderit assumenda rem
                corrupti consequuntur! Qui, dolore quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                necessitatibus repellat minima. Officia nostrum doloremque harum, nulla quas nisi beatae optio veritatis
                accusantium quidem, quasi, ipsam libero fuga! Corporis, odio? Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Consequatur laborum voluptate atque totam non vero tempore, modi facere similique at
                doloremque pariatur quisquam quidem itaque ipsa. Sapiente quam architecto fugiat.</p>

            <button
                style="background-color: rgb(252, 103, 34); color: white; height: 40px; width: 100px; border: transparent;">Read
                More</button>

        </div>
    </div>

</div>