<div id="menucontent">
    <div id="menu" class="text-center">
        <h2 style="font-weight: bold; font-size: 60px;" class="text-center">Our Popular Menu</h2>

        <p style="margin: 2px 70px 30px 70px;" class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing
            elit.
            Accusantium, quibusdam fugiat et sapiente eum non natus repudiandae quas, excepturi, fuga eveniet libero at
            soluta quod. Porro praesentium at voluptatem eius! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Dolore quas accusamus rem alias reiciendis maxime excepturi ipsum magni vitae minus provident cupiditate in,
            harum veniam porro quasi sunt. Cupiditate, voluptates!</p>
        <div class="justify-content-between">

            <button class="p-1" style="border-radius: 50px; border: orangered solid;"><i
                    style="width: 20px; height: 18px; background-color: orangered; border-radius: 50%;"
                    class="fa-solid fa-burger"></i>Burger</button> &nbsp;
            <button class="p-1" style="border-radius: 50px; border: orangered solid;"><i
                    style="width: 20px; height: 18px; background-color: orangered; border-radius: 50%;"
                    class="fa-solid fa-pizza-slice"></i>Pizza</button> &nbsp;
            <button class="p-1" style="border-radius: 50px; border: orangered solid; "><i
                    style="width: 20px; height: 18px; background-color: orangered; border-radius: 50%;"
                    class="fa-solid fa-mug-hot"></i>Drink</button> &nbsp;
            <button class="p-1" style="border-radius: 50px; border: orangered solid;"><i
                    style="width: 20px; height: 18px; background-color: orangered; border-radius: 50%;"
                    class="fa-solid fa-ice-cream"></i>Dessert</button> &nbsp;

        </div>

        <div class="row justify-content-between m-5 p-5">
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                <div class="card" style="max-width: 300px;">
                    <div class="burger">
                        <img style="border-radius: 50%;"
                            src="https://www.foodandwine.com/thmb/DI29Houjc_ccAtFKly0BbVsusHc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/crispy-comte-cheesburgers-FT-RECIPE0921-6166c6552b7148e8a8561f7765ddf20b.jpg"
                            alt="" width="150px" height="150px">
                    </div>
                    <br>
                    <br>
                    <i style="font-size: 30px; color: orangered;" class="fa-regular fa-heart text-center mt-4"></i>

                    <h3 class="mt-4">Spicy chicken burger</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam officia eum nesciunt minus
                        a perspiciatis asperiores nisi at quas consequatur ratione illum</p>
                    <h4>$30</h4>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">

                <div class="card" style="max-width: 300px;">
                    <div class="burger">
                        <img style="border-radius: 50%;"
                            src="https://static.toiimg.com/thumb/83565509.cms?width=1200&height=900" alt=""
                            width="150px" height="150px">
                    </div>
                    <br>
                    <br>
                    <i style="font-size: 30px; color: orangered;" class="fa-regular fa-heart text-center mt-4"></i>

                    <h3 class="mt-4">Spicy Beef burger</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam officia eum nesciunt minus
                        a
                        perspiciatis asperiores nisi at quas consequatur ratione illum</p>
                    <h4>$30</h4>

                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                <div class="card" style="max-width: 300px;">
                    <div class="burger">
                        <img style="border-radius: 50%;"
                            src="https://static.toiimg.com/thumb/83565509.cms?width=1200&height=900"
                            alt="" width="150px" height="150px">
                    </div>
                    <br>
                    <br>
                    <i style="font-size: 30px; color: orangered;" class="fa-regular fa-heart text-center mt-4"></i>

                    <h3 class="mt-4">Potato burger</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam officia eum nesciunt minus
                        a
                        perspiciatis asperiores nisi at quas consequatur ratione illum</p>
                    <h4>$30</h4>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                <div class="card" style="max-width: 300px;">
                    <div class="burger">
                        <img style="border-radius: 50%;"
                            src="https://static.toiimg.com/thumb/83565509.cms?width=1200&height=900" alt=""
                            width="150px" height="150px">
                    </div>
                    <br>
                    <br>
                    <i style="font-size: 30px; color: orangered;" class="fa-regular fa-heart text-center mt-4"></i>

                    <h3 class="mt-4">Zinger burger</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam officia eum nesciunt minus
                        a
                        perspiciatis asperiores nisi at quas consequatur ratione illum</p>
                    <h4>$30</h4>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">

                <div class="card" style="max-width: 300px;">
                    <div class="burger">
                        <img style="border-radius: 50%;"
                            src="https://www.noracooks.com/wp-content/uploads/2023/04/veggie-burgers-1-2.jpg" alt=""
                            width="150px" height="150px">
                    </div>
                    <br>
                    <br>
                    <i style="font-size: 30px; color: orangered;" class="fa-regular fa-heart text-center mt-4"></i>

                    <h3 class="mt-4">cheese burger</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam officia eum nesciunt minus
                        a
                        perspiciatis asperiores nisi at quas consequatur ratione illum</p>
                    <h4>$30</h4>

                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                <div class="card" style="max-width: 300px;">
                    <div class="burger">
                        <img style="border-radius: 50%;"
                            src="https://static.toiimg.com/thumb/83565509.cms?width=1200&height=900"
                            alt="" width="150px" height="150px">
                    </div>

                    <br>
                    <br>
                    <i style="font-size: 30px; color: orangered;" class="fa-regular fa-heart text-center mt-4"></i>
                    <h3 class="mt-4">Crispy chicken burger</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam officia eum nesciunt minus
                        a
                        perspiciatis asperiores nisi at quas consequatur ratione illum</p>
                    <h4>$30</h4>

                </div>
            </div>


        </div>

        <!-- <div class="row justify-content-between m-5 p-5">
            


        </div> -->
        <div style="margin-left: 40rem">

            <button style="width: 60px; border-radius: 10px 0 ; color: orangered; border: none;" class="mb-5"><i
                    class="fa-solid fa-arrow-left-long"></i></button> &nbsp;
            <button style="width: 60px; border-radius: 10px 0 ; color: orangered; border: none;" class="mb-5"><i
                    class="fa-solid fa-arrow-right-long"></i></button>

        </div>
    </div>
</div>