<div id="reviewcontent">

    <h1 style="font-weight: bold; font-size: 60px;" class="text-center">Our customers says</h1>
    <div id="review" class="content">
        <div class="row justify-content-between ">
            <div class="col-lg-3 col-md-6 col-sm-12 p-3 ">
                <div class="card" style="max-width: 18rem;">
                    <i style="color: orangered; font-size: 25px;" class="fa-solid fa-quote-left m-3"></i>
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet maiores cupiditate
                        voluptatum nemo, eius neque. Similique officia facilis </p>
                    <div class="review">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img class="p-2" src="https://cdn-icons-png.flaticon.com/256/4825/4825044.png" alt=""
                                    width="70px">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>john doe</h5>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-regular fa-star"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="card" style="max-width: 18rem;">
                    <i style="color: orangered; font-size: 25px;" class="fa-solid fa-quote-left m-3"></i>
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet maiores cupiditate
                        voluptatum nemo, eius neque. Similique officia facilis </p>
                    <div class="review">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img class="p-2" src="https://cdn-icons-png.flaticon.com/256/4825/4825044.png" alt=""
                                    width="70px">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>john doe</h5>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-regular fa-star"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-12 p-3 ">
                <div class="card" style="max-width: 18rem;">
                    <i style="color: orangered; font-size: 25px;" class="fa-solid fa-quote-left m-3"></i>
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet maiores cupiditate
                        voluptatum nemo, eius neque. Similique officia facilis </p>
                    <div class="review">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img class="p-2" src="https://cdn-icons-png.flaticon.com/256/4825/4825044.png" alt=""
                                    width="70px">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>john doe</h5>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-regular fa-star"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-12 p-3 ">
                <div class="card" style="max-width: 18rem;">
                    <i style="color: orangered; font-size: 25px;" class="fa-solid fa-quote-left m-3"></i>
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet maiores cupiditate
                        voluptatum nemo, eius neque. Similique officia facilis </p>
                    <div class="review">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img class="p-2" src="https://cdn-icons-png.flaticon.com/256/4825/4825044.png" alt=""
                                    width="70px">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>john doe</h5>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-solid fa-star"></i>
                                <i style="color: orangered;" class="fa-regular fa-star"></i>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>