<div id="homecontent">
    <div id="home" class="row ms-5">
        <div style="margin-top: 55px;" class="col-lg-6 col-md-6 col-sm-6 pt-5" >
        
                <h1 style="font-size: 70px; font-weight: bold; color: orangered;">Fast <span style="color: black;">Food Delivery</span></h1>
                
            
           
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus facere perspiciatis, officia totam,
                consectetur rerum dolore accusamus accusantium esse explicabo unde. Fuga aperiam quis error obcaecati
                soluta, ullam corrupti ut?</p>
            <div class="m-4">
                <button type="button" class="btn btn-dark btn-md rounded">Order Now</button> &nbsp;
                <button type="button" class="btn  btn-md rounded border-dark"><i class="fa-solid fa-play"></i>&nbsp;Watch video</button>
            </div>
           
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 p-5">
            <img style="height: 50px; width: 60%; height: 400px;" src="https://static.vecteezy.com/system/resources/thumbnails/019/607/567/small/fast-food-vector-clipart-design-graphic-clipart-design-free-png.png" alt="">
        </div>
    </div>

    <div style="margin-top: -100px;" class="row text-center pt-5 ps-5">
        <div class="col-md-4 col-sm-4 text-center" style="width: 60px; padding: 0px 37px; ">
            <div class="symbol">
                <img style="height: 50px; width: 30px;" src="https://icons-for-free.com/download-icon-burger-131983752788592773_512.png" alt="">
                <br>
                <h6 style="font-size: x-small;">burger</h6>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center" style="width: 60px; padding: 0px 37px;">
           <div class="symbol">
                <img style="height: 50px; width: 30px;" src="https://cdn-icons-png.flaticon.com/256/10542/10542110.png" alt="">
                <br>
                <h6 style="font-size: x-small;">pizza</h6>
           </div>
            
        </div>
        <div class="col-md-4 col-sm-4 text-center" style="width: 60px; padding: 0px 37px;">
            <div class="symbol">
                <img style="height: 50px; width: 30px;" src="https://cdn-icons-png.flaticon.com/256/9496/9496793.png" alt="">
                <br>
                <h6 style="font-size: x-small;">Drink</h6>
            </div>
            
        </div>
        <div class="col-md-4 col-sm-4  text-center" style="width: 60px; padding: 0px 37px;">
            <div class="symbol">
                <img style="height: 50px; width: 30px;" src="https://cdn-icons-png.flaticon.com/256/7602/7602906.png" alt="">
                <br>
                <h6 style="font-size: x-small;">Dessert</h6>
            </div>
            
        </div>
    </div>
</div>